html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #909090;
    background-color: #1a1a1a
  }
  
  main {
    margin: 16px;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    background: rgba(12, 17, 18, 0.5);
    padding: 10px;
    border-radius: 15px;
  }
  
  .main-center {
    width: 800px;
    margin: 10px auto;
    background-color: rgba(200,200,200,0.1);
    display: flex;
    padding: 10px;
    border-radius: 15px;
  }
  
  .group {
    border-radius: 15px;
    background-color: rgba(200,200,200,0.1);
  }
  /**
   * Matrix Logo
   */
  .logo-matrix {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 1;
    color: #fff;
  }
  
  .logo-matrix .company {
    margin-left: 8px;
  }
  
  .logo-matrix .section {
    margin-left: 8px;
    border-bottom:1px solid #fff;
  }
  
  /**
   * Swim Logo
   */
  .logo-swim {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
  
  .logo-swim .title {
    margin-left: 16px;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 28px;
    color: rgba(255,255,255,0.8);
  }